@media screen and (min-width: 768px) {
  .menu-items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .album {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
