body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
  }
  
  header {
    background-color: #00457c;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 1rem;
  }
  
  input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 250px;
  }
  
  button {
    padding: 0.5rem;
    background-color: #00457c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #0073e6;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 0.5rem;
    background: #e6f2ff;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
  }
  
  button.delete {
    background-color: #e60000;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button.delete:hover {
    background-color: #ff4d4d;
  }
  